```html
<!DOCTYPE html>
<html>
<head>
    <title>Wholesaler List</title>
</head>
<body>
    <h1>Wholesaler List</h1>
    <a href="{% url 'wholesaler_create' %}">Add Wholesaler</a>
    <ul>
        {% for wholesaler in wholesaler %}
            <li>
                {{ wholesaler.company_name }} - {{ wholesaler.company_phone }}
                <a href="{% url 'wholesaler_update' wholesaler.pk %}">Edit</a>
                <a href="{% url 'wholesaler_delete' wholesaler.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
```

